/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
/* botones grises */
.boton{position:center;

  width: 204px;
  height: 26px;
  left: 0px;
  top: 0px;
  border-radius: 50px;
  margin: 60.7958px opx opx;
  padding: .6875px 6.3375;
  border: 1px solid #A3A3A2;
  background:  #A3A3A2;
  border-radius: 50px;
}
/* botones DORADO */
.btndorado{position:center;
  position:center;
  width: 357.11px;
  height: 35.99px;
  left: 0px;
  top: 0px;
  border-radius: 50px;
  margin: 60.7958px opx opx;
  padding: .6875px 6.3375;
  border: 1px solid #A47C36;
  background:  #A47C36;
  border-radius: 50px;
}
/* botones AZUL */
.btnazul{position:center;
  position:center;
  width: 357.11px;
  height: 35.99px;
  left: 0px;
  top: 0px;
  border-radius: 50px;
  margin: 60.7958px opx opx;
  padding: .6875px 6.3375;
  border: 1px solid #233C79;
  background:  #233C79;
  border-radius: 50px;

}

blockquote {
  border-left: 10px solid #A47C36;
  margin: 0.5px 0.5px;
  padding-left: 0px;
}

.lingold {background-color: #A47C36;
    height: 10px;
    margin-right: 0%;
    width: 50%;
  }

  .lin1{background-color: #A47C36;
    height: 10px;
    margin-left: 70%;
    width: 50%;
  }

  .line{background-color: #a47c36;
    border-radius: 5px;
    content: "";
    height: 3px;
    position: absolute;
    right: 22%;
    top: 0.5em;
    width: 10%;
    z-index: 1;
}
.btncuadrado{
  position:center;
  width: 357.11px;
  height: 35.99px;
  left: 0px;
  top: 0px;
  background-color:#CYF;
  border-radius: 0px;
  margin: 60.7958px opx opx;
  padding: .6875px 6.3375;
}

#pantalla-ingreso {
  background-image: url("../imagenes del proyecto/wallpaper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.transparent-grey-darke-4 {
  background-color: rgba(55, 71, 79, 0.6); /* Replace 0.7 with the desired opacity value (0 to 1) */
}
